:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #404bbf;

  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --primary-white-color: #ffffff;
  --secondary-accent-color: #4d5ae5;
  --background-color: #f4f4fd;
  --background-color-hero: rgba(46, 47, 66, 0.7);
  --background-color-backdrop: rgba(46, 47, 66, 0.4);
  --border-color: #e7e9fc;
  --accent-green-color: #31d0aa;
  --customer-icon-color: #afb1b8;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
  font-size: 16px;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*-------------------- COMPONENTS--------------- */
.subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.section-description {
  line-height: 1.5;

  letter-spacing: 0.02em;
}

.button-primary {
  display: block;
  margin: auto;

  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  border: none;

  letter-spacing: 0.04em;

  color: var(--primary-white-color);
  background: var(--secondary-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-dur-and-func);
}
.button-primary:hover,
.button-primary:focus {
  background-color: var(--accent-color);
}
.button-secondary {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  color: var(--secondary-accent-color);
  background: var(--background-color);
  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func),
    border var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
}
.button-secondary:hover,
.button-secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.content {
  background-color: var(--primary-white-color);
}

/*-------------------- /COMPONENTS--------------- */
/*------------------ HEADER--------------- */
.page-header {
  padding-top: 23.5px;
  padding-bottom: 23.5px;
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
  align-items: center;
}
.page-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.menu {
  display: flex;
  align-items: center;
}
.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  padding: 24px 0;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
  transition: color var(--transition-dur-and-func);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.line-header {
  position: relative;
  color: var(--accent-color);
}

.line-header::after {
  position: absolute;
  left: 0;
  bottom: -3px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  content: '';
}

.logo-header {
  margin-right: 76px;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-accent-color);
}

.accent-logo-header {
  color: var(--secondary-text-color);
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contact-us {
  font-style: normal;
}

.contact-us-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--transition-dur-and-func);
}

.contact-us-link:hover,
.contact-us-link:focus {
  color: var(--accent-color);
}

/*------------------ /HEADER--------------- */

/*-------------------- HERO--------------- */

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg.jpg);
  background-size: cover;
  background-color: var(--background-color-hero);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  height: 600px;
  margin: auto;
}

.hero-title {
  margin: 0 auto 48px;
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;

  letter-spacing: 0.02em;

  color: var(--primary-white-color);
}

/*-------------------- /HERO--------------- */
/*-------------------- FEATURES--------------- */

.features-list {
  display: flex;
  gap: 24px;
}
.feature-content {
  flex-basis: calc((100% - 72px) / 4);
}
.feature-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: var(--background-color);
}

/*-------------------- /FEATURES--------------- */

/*-------------------- WHAT ARE WE DOING--------------- */

.work {
  padding-top: 0;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;

  color: var(--secondary-text-color);
}
.examples-content {
  display: flex;
  gap: 24px;
}
.pictures {
  flex-basis: calc((100% - 48px) / 3);
}

/*-------------------- /WHAT ARE WE DOING--------------- */

/*-------------------- OUR TEAM--------------- */

.our-team {
  background-color: var(--background-color);
}
.employees {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.content {
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.employees-wrapper {
  padding: 32px 0;
}
.name-surname {
  text-align: center;
}
.position {
  text-align: center;
  margin-bottom: 8px;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--secondary-accent-color);
  transition: background-color var(--transition-dur-and-func);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon {
  fill: var(--background-color);
}
/*-------------------- /OUR TEAM--------------- */

/*-------------------- CUSTOMERS--------------- */
.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.customer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border-radius: 4px;
  border: 1px solid currentColor;
  color: #8e8f99;
  transition: color var(--transition-dur-and-func);
}

.customer-link:hover,
.customer-link:focus {
  color: var(--accent-color);
}

.customer-icon {
  fill: currentColor;
  transition: fill var(--transition-dur-and-func);
}

/*-------------------- /CUSTOMERS--------------- */

/*-------------------- OUR JOBS--------------- */
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.top-line-buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 72px;
  justify-content: center;
  gap: 24px;
}

.our-jobs {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.our-jobs-content {
  flex-basis: calc((100% - 48px) / 3);
}

.our-jobs-link:hover .overlay,
.our-jobs-link:focus .overlay {
  transform: translate(0, 0);
}

.our-jobs-link {
  display: block;
  color: inherit;
  transition: box-shadow var(--transition-dur-and-func);
}
.our-jobs-link:hover,
.our-jobs-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-jobs-wrapper {
  border: 1px solid var(--border-color);
  border-top: none;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.our-jobs-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform var(--transition-dur-and-func);

  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;

  color: var(--background-color);
  background-color: var(--secondary-accent-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*-------------------- /OUR JOBS--------------- */

/*-------------------- FOOTER--------------- */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--secondary-text-color);
}

.logo-text {
  margin-right: 120px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-accent-color);
}
.footer-description {
  width: 264px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: var(--background-color);
}
.accent-logo-footer {
  color: var(--background-color);
}

.social-media-footer {
  margin-right: 80px;
}

.social-media-title {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}
.footer-content {
  display: flex;
}
.social-list-footer {
  display: flex;
  gap: 16px;
}

.footer-accent:hover,
.footer-accent:focus {
  background-color: var(--accent-green-color);
}
.footer-subscribe-description {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}
.footer-subscribe-wrapper {
  display: flex;
  width: 453px;
  justify-content: space-between;
}
.footer-form-input {
  font-size: 16px;

  padding-left: 16px;
  align-items: center;
  width: 264px;
  height: 40px;
  border: 1px solid var(--primary-white-color);
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--secondary-text-color);
}
.footer-form-input::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
}

.footer-subscribe-btn {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
  gap: 16px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  color: var(--primary-white-color);
  background: var(--secondary-accent-color);
  transition: background-color var(--transition-dur-and-func);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: var(--accent-green-color);
}
.footer-subscreibe-btn-icon {
  fill: var(--primary-white-color);
}

/*-------------------- /FOOTER--------------- */

/*-------------------- BACKDROP --------------- */
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color-backdrop);
  transition: opacity var(--transition-dur-and-func),
    visibility var(--transition-dur-and-func);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/*-------------------- /BACKDROP --------------- */

/*-------------------- MODAL WINDOW --------------- */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 576px;
  background-color: rgba(252, 252, 252, 1);
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding-top: 72px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--border-color);
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: border-color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}
.modal-close-btn-icon {
  transition: fill var(--transition-dur-and-func);
}
.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--primary-white-color);
}
/*-------------------- /MODAL WINDOW --------------- */

/*-------------------- MODAL FORM ------------------ */

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-text {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--background-color-backdrop);
  padding-left: 34px;

  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--secondary-text-color);
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}
.modal-form-input-desc {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill var(--transition-dur-and-func);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--background-color-backdrop);
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  margin-top: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(142, 143, 153, 1);
}

.modal-form-check:checked + * .modal-form-fake-checkbox {
  background-color: var(--accent-color);
}
.modal-form-check:focus + * .modal-form-fake-checkbox {
  border: 1px solid var(--accent-color);
}
.modal-form-check:checked + * .modal-form-fake-checkbox-icon {
  opacity: 1;
}

.modal-form-fake-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid var(--background-color-backdrop);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.modal-form-fake-checkbox-icon {
  fill: var(--background-color);
  opacity: 0;
}

.modal-form-submit {
  display: block;
  margin: auto;

  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  border: none;

  letter-spacing: 0.04em;

  color: var(--primary-white-color);
  background: var(--secondary-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-dur-and-func);
}
.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--accent-color);
}
.modal-form-link {
  color: var(--secondary-accent-color);
}

/*-------------------- /MODAL FORM ----------------- */
